spring:
  application:
    name: stain-processor-app
server:
  port: 8081
logging.config: classpath:logback-spring.xml
stain:
  submission:
    root-dir: /path/to/root-dir
    submitted-dir: submitted/
    completed-dir: completed/
  queue:
    exchange: stain-exchange
    routing-key: stain-process-queue
    uri: amqp://guest:guest@localhost